@clrPrimary: #eb5424;

header, footer{
	background-color: #ccc;
	padding: 15px;
}


header{
	h1{
		margin: 10px 0;
	}
	overflow: hidden;
}

footer{
	
}

h1{
	
}


.row.match-my-cols {
    overflow: hidden; 
}

.row.match-my-cols [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

a, a:link, a:visited{
	color: @clrPrimary;
}

/* Side nav */
.sidebar{
	background: #e1e1e1;
	padding: 0;
	a{
		font-weight: bold;
		transition: all 0.5s ease;
		& > span{
			transition: all 0.5s ease;
			display: inline-block;
		}
		&:hover{
			padding-left: 35px;
			& > span{
				transform: rotateY(360deg);
			}
		}
	}
}

/* transitions for page load */
.fade-in{
    opacity:0;
	transition: opacity 1s ease;
}
.slide-in{
	transform: translateX(-1000px);
	transition:  transform 1s ease;
}